@charset "UTF-8";

/*---Reset---*/
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {
}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/*クラス定義*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
*+html .clearfix{min-height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*--- ページ基本デザイン ---*/
#header a {
color: #6d2916;
font-size: 23px;
}

#header{
	margin-bottom: 50px;
}


#wrapper{
	clear: both;
	width: 715px;
	margin: 0 auto;
}

table tr th{
	background-color: #EEEEEE;
	height: 50px;
	border:1px solid #000;
}

table tr th p{
text-align: center;
	font-size: 11px;
}

table tr td{
	height: 50px;
	border:1px solid #000;
	font-size: 11px;
	padding-left: 10px;
}

table tr td input{
	width: 40px;
}

#crad{
	padding-left: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#continue{
	background-color: #C0C0C0;
	width: 150px;
	margin-right: 50px;
}

#continue p{
	text-align: center;
}

#move{
	background-color: #F00;
		width: 150px;
}
#move p{
	text-align: center;
}

#box{
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
	margin-top: 30px;
}


#footer{
	width: 715px;
	margin: 0 auto;
}

#footer p {
	font-size: 10px;
	text-align: center;
	background-color: #FAF0E6;
}
