@charset "UTF-8";

/*---Reset---*/
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {
}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/*クラス定義*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
*+html .clearfix{min-height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*--- ページ基本デザイン ---*/

#header{
		width: 715px;
		margin: 0 auto;
}


#title{
	width: 715px;
	height: 100px;
	background-image:url("../img/base/title_bg.jpg");
	margin: 0 auto;
	margin-top: 20px;
}

#title p{
	text-align: center;
	font-weight: bold;
	padding-top: 30px;
	font-size: 20px;
}

#title p a {
	color: #6d2916;
}

#top_menu ul li{
float: right;
margin-left: 20px;
margin-top: 10px;
margin-bottom: 20px;
}
#top_menu ul li a p{
font-size: 10px;
}


#wrapper{
	clear: both;
	width: 715px;
	margin: 0 auto;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sub{
	width: 200px;
}


#sub table tr th{
	width: 190px;
	border:1px solid #DEB887;
}

#sub table tr td{
	width: 190px;
	height: 30px;
	border:1px solid #DEB887;
	font-size: 11px;
	background-image: url("../img/base/icon_side.gif");
	background-repeat: no-repeat;
	background-position: 10px 50%;
	padding-left: 30px;
}

#cate{
	background-image:url("../img/base/title_bg.jpg");
	height: 30px;
}

#cate p{
font-size: 11px;
color: #6d2916;
font-weight: bold;
padding-left: 20px;
}

#cart{
	margin-top: 20px;
	margin-bottom: 20px;
}

#main{
	width: 515px;
}

#home_main{
	width: 515px;
}

#main_menu{
	background-image:url("../img/base/footstamp_bg.gif");
	height: 30px;
	margin-bottom: 20px;
}
#main_menu p{
	font-size: 12px;
	line-height: 30px;
	margin-left: 30px;
}

#main_title{
	background-image:url("../img/base/main_title_bg.jpg");
		height: 30px;
}

#main_title p{
font-weight: bold;
font-size: 12px;
line-height: 30px;
margin-left: 30px;
}

#main_img {
margin-top: 20px;
margin-bottom: 20px;
}


#main_img img{
	width: 380px;
	margin: 0 auto;
}

#sub_img{
float: left;
margin-left: 20px;
margin-top: 5px;
margin-bottom: 10px;
}

#link{
	clear: both;
	margin-left: 20px;
}

#link p{
	font-size: 10px;
	background-image: url("../img/base/icon_side.gif");
	background-repeat: no-repeat;
	background-position: 0 50%;
  padding-left: 10px;
}


#sub_img img{
	width: 150px;
}

#description p{
font-size: 10px;
margin-left: 20px;
}

#purchase{
	width: 350px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#purchase table tr th{
	width: 100px;
	height: 30px;
background-image: url("../img/base/main_title_bg.jpg");
	border:2px solid #FFF;
}

#purchase table tr th p{
	font-size: 11px;
	color: #6d2916;
	font-weight: bold;
	padding-left: 10px;
}

#purchase table tr td{
	width: 250px;
background-image: url("../img/base/footstamp_bg.gif");
	border:2px solid #FFF;
}
#purchase table tr td p{
font-size: 11px;
font-weight: bold;
color: #F00;
padding-left: 20px;
}

#purchase table tr td input{
width: 35px;
margin-left: 20px;
}


#send input{
	margin-left: 50px;
	margin-bottom: 10px;
	margin-top: 30px;
}

#send p{
	margin-left: 70px;
	margin-bottom: 10px;
	font-size: 10px;
}

#thumbnail_box{
display:flex;
justify-content:space-between;
flex-wrap: wrap;
}

#thumbnail_box::after{
  content:"";
  display: block;
	width:30%;
}


#thumbnail{
width: 140px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
}

#thumbnail img{
width: 100%;
}

#thumbnail p{
font-size: 11px;
text-align: center;
}

#footer{
	width: 715px;
	margin: 0 auto;
}

#footer p {
	font-size: 10px;
	text-align: center;
	background-color: #FAF0E6;
}
